  <label>Author Name:</label><br>
  <%= text_field_tag :name, @author.name %><br>

  <label>Author's Hometown</label><br>
  <%= text_area_tag :hometown, @author.hometown %><br>
  
  <%= submit_tag "Submit Author" %>