
<label for='title'>Post title:</label><br>
<%= text_field_tag :title %> <br>

<label for='description'>Post Description</label>
<%= text_field_tag :description %><br>

<%= submit_tag "Submit Post" %>