<h3>Post Form</h3>
 
<%= form_tag post_path(@post), method: "put" do %>
  <%= render "form" %> 
<% end %>


<!-- When referencing a partial from a different folder, we must include the folder name as well -->